body {
    font-family: 'Source Sans Pro', sans-serif;
}

.calendar {
    width: 50%;
    height: auto;
    margin: 2.5% auto;
    border-radius: 10px;
    box-shadow: 1px 5px 15px -10px gray;
}

.month {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #94b4be;
}

button{
    align-self: center;
    background-color: transparent;
    border: none;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}

.content{
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
    /* color: white; */
}

.calendar-body{
    text-align: center;
}

.month h2 {
    margin: 5px auto 0;
    font-weight: normal;
}

.month h3 {
    margin: 5px auto;
    font-weight: normal;
}

.names {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-top: 20px;
    font-size: 25px;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 20px 0;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    height: 100px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.day:hover{
    background-color: rgba(218, 218, 218, 0.562);
}

.current{
    background-color: #94b4be;
}

.prev-date, .next-date{
    color: rgb(202, 202, 202);
}

.prevMonth, .nextMonth{
    padding: 5px;
}